/target
/ide/zed/target
/ide/zed/extension.wasm
/.wtf/
/web/pkg/
/web/node_modules/
/web/apps/*/node_modules/
/web/apps/*/dist/
/web/dist/
/web/*.tgz
/web/test-results/
/web/playwright-report/
/ide/vscode/node_modules/
/ide/vscode/.vscode-test/
/ide/vscode/*.vsix
