/target
/client/ide/zed/target
/client/ide/zed/extension.wasm
/.xmd/
/client/web/pkg/
/client/web/node_modules/
/client/web/apps/*/node_modules/
/client/web/apps/*/dist/
/client/web/dist/
/client/web/media/
/client/web/*.tgz
/client/web/test-results/
/client/web/playwright-report/
/client/ide/vscode/node_modules/
/client/ide/vscode/.vscode-test/
/client/ide/vscode/*.vsix

output
.hidden
/client/web/cloud/.wrangler/
.env

.DS_Store
/scripts
