@media print {
  .xmd { color-scheme: light; background: white; color: #202820; font-size: 10px; }
  .xmd [class] { color: inherit !important; }
  .xmd .inlay { background: #e9eee5; }
  .xmd-controls { display: none; }
}
