@media print {
  .wtf { color-scheme: light; background: white; color: #202820; font-size: 10px; }
  .wtf [class] { color: inherit !important; }
  .wtf .inlay { background: #e9eee5; }
  .wtf-controls { display: none; }
}
